html, body
{
  margin: 20px;
}

#container
{
  position: relative;
}

#myOverFlow
{
  width: 300px;
  height: 100px;
  background: rosybrown;
  overflow-y: auto;
}

.selectize-dropdown {
  position: fixed;
}

.dropdown-menu{
  position:fixed;
}

.button{
  height:30px;
}
