<div id="myOverFlow">
  {{ember-selectize
  content=sampleDataOptional
  optionValuePath="content.id"
  optionLabelPath="content.title"
  selection=model.item
  placeholder="Select an item 1" }}

    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>

  {{ember-selectize
  content=sampleDataOptional
  optionValuePath="content.id"
  optionLabelPath="content.title"
  selection=model.item
  placeholder="Select an item 2" }}


  {{ember-selectize
  content=sampleDataOptional
  optionValuePath="content.id"
  optionLabelPath="content.title"
  selection=model.item
  placeholder="Select an item 3" }}


  {{ember-selectize
  content=sampleDataOptional
  optionValuePath="content.id"
  optionLabelPath="content.title"
  selection=model.item
  placeholder="Select an item 4" }}
</div>
